/* This is an example of how to import a partial scss file*/
@import '_variables';

* {
  box-sizing: border-box;
  margin: 0;
}

body, html {
  color: white;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #1A1B41;
}

.main-title {
  margin-left: 10px;
}

.user-title {
  margin-right: 10px;
}

.background {
  background: rgb(52,52,52);
  background: radial-gradient(circle, #37398A 0%, #1A1B41 100%);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
}

main, .main-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  color: #1A1B41;
}

.new-trip-cost {
  display: flex;
  justify-content: center;
  margin: 10px 0px 10px 0px;
  border: 1px solid white;
}

.dashboard-title {
  display: flex;
  justify-content: center;
  margin: 15px 0px 15px 0px;
  font-size: 40px;
}

.before-2022-trips,
.during-2022-trips {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #BAFF29;
}

.during-2022-trips {
  margin-top: 20px;
}

h3 {
  margin-bottom: 10px;
  border-bottom: 2px solid white;
}

.trip-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid red;
  margin: 5px 0px 5px 0px;
  color: white;
}

.individual-trip {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: 2px 0px 2px 0px;
}

.total-spent-section {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: white;
}

.total-spent-value {
    margin: 15px 10px 0px 0px;
}

// BOOKING viewport
.booking-title {
  display: flex;
  justify-content: center;
  margin: 15px 0px 15px 0px;
  font-size: 40px;
}

.booking-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  border: 2px solid white;
}

label, input, select {
  margin: 5px 0px 5px 15px;
}

// form[aria-hidden = true],
// section[aria-hidden = true] {
//   display: none;
// }
//
.hidden {
  display: none;
}
